.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 66px);
  min-height: 0px;
  min-width: 0px;
  padding-inline: 5px;
  gap: 5px;
}

.row {
  min-width: 0px;
  min-height: 0px;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.column {
  min-width: 0px;
  min-height: 0px;
  flex: 1;
}
