.container {
	width: 100vw;
	height: 100vh;
  background: rgb(56, 174, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(56, 174, 255, 1) 0%,
    rgba(19, 110, 193, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(56, 174, 255, 1) 0%,
    rgba(19, 110, 193, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(56, 174, 255, 1) 0%,
    rgba(19, 110, 193, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#38aeff",endColorstr="#136ec1",GradientType=1);
}
